@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
.moon{
  width: 50%;
  display: flex;
  justify-content: flex-end;

 }
 .moon i{
  margin: 0px 0px 0px 20px;
 }
 .book{
  width: 50%;
 }
 .container h1{
  color: #ba70ff;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .book i{
  font-size: 35px;
  color: #000000;
 }
 .moon i{
  font-size: 25px;
  color: #000;
 }
i, .moon i{
  font-size: 30px;

}
option{
  font-family: "Poppins";
}
.container{
  background-color: transparent;
  width: 600px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  padding: 50px 0px;
}
.container form{
  margin-top: 1.5rem;
}
.container form .row{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}
textarea{
  padding: 18px;
  outline: none;
  background-color: #eeeeee;
  border-radius: 20px;
  height: 60px;
  resize: none;
  border: none;
  overflow-y: hidden;
  padding-left: 55px;
}
textarea::placeholder{
  font-size: 15px;
}
.search_icon{
  position: absolute;
}
.search_icon i{
  transform: translateY(17px);
  padding-left: 20px;
  color: #ba70ff;
 font-size: 24px;
}

.word i{
  display: flex;
  justify-content: flex-end;
  z-index: -2;
  margin-top: -50px;
  margin-right: 50px;
  font-size: 24px;
  background-color: #ba70ff52;
  color: #ba70ff;
  width: 50px;
  height: 50px;
  float: right;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}


.cl-toggle-switch {
  position: relative;

 }
 
 .cl-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
 }
 /* Input */
 .cl-switch > input {
  padding: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 8px;
  top: -6px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  outline: none;
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
  -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, -webkit-transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
 }
 /* Track */
 .cl-switch > span::before {
  content: "";
  display: inline-block;
  margin: 8px 0 5px 10px;
  border-radius: 7px;
  width: 32px;
  height: 16px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  -webkit-transition: background-color 0.2s, opacity 0.2s;
  transition: background-color 0.2s, opacity 0.2s;

 }
 /* Thumb */
 .cl-switch > span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 17px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
  transition: background-color 0.2s, transform 0.2s, -webkit-transform 0.2s;
 }
 /* Checked */
 .cl-switch > input:checked {
  right: -10px;
  background-color: #fff;
 }
 
 .cl-switch > input:checked + span::before {

  background-color: black;
 }
 
 .cl-switch > input:checked + span::after {

  background-color: #fff;
  -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
          transform: translateX(16px);
 }
 /* Hover, Focus */
 .cl-switch:hover > input {
  opacity: 0.04;
 }
 
 .cl-switch > input:focus {
  opacity: 0.12;
 }
 
 .cl-switch:hover > input:focus {
  opacity: 0.16;
 }
 /* Active */
 .cl-switch > input:active {
  opacity: 1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s;
 }
.noun_hr{
  transform: translateY(-20px);
  width: 530px;
  margin:0px 0px 0px 60px;
}
.word{
  padding: 10px 0;
  list-style: none;
  text-decoration: none;
}
.word h2{
  font-size: 45px;
}
.word span{
  color: #ba70ff;
  padding: 10px 0;
}
ul li h3{
  font-family: "Fraunces";
  padding: 10px;
  list-style-type: disc;
}
.word i{
  margin-top: 5px;
}
.synonyms li{
  color: #ba70ff;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width:700px){
  .container{
    width: 90vw;
  }
  .noun_hr{
    width: 80%;
  }

}
@media screen and (max-width:420px){
  .container h1{
    font-size: 25px;
  }
  .book i{
    font-size: 28px;
    color: #000000;
   }
}
.black{
  background-color: #202020;
  .moon i,i{
    color: white;
  }

  .search_icon i{
    color: #ba70ff;
  }
  .word, .details{
    color: #fff;
  }
  .noun_hr{
    color: #ccc;
  }
  .details h3{
    color: #fff;
  }
}
.light{
  background-color: white;
  .moon i, i{
    color: black;
  }
  .search_icon i{
    color: #ba70ff;
  }
  .word, .details{
    color: black;
  }

}